<?xml version="1.0"?>
<config>
	<modules>
		<ADM_ExtraContact>
			<version>1.0.0</version>
		</ADM_ExtraContact>
	</modules>
	<frontend>
		<routers>
			<routeur_frontend>
				<use>standard</use>
				<args>
					<module>ADM_ExtraContact</module>
					<frontName>extracontact</frontName>
				</args>
			</routeur_frontend>
		</routers>
		<layout>
			<updates>
				<ExtraContact>
					<file>ExtraContact.xml</file>
				</ExtraContact>
			</updates>		
		</layout>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<ADM_ExtraContact_Model_Observer>
						<type>model</type>
						<class>ExtraContact/observer</class>
						<method>insertBlock</method>
					</ADM_ExtraContact_Model_Observer>
				</observers>
			</core_block_abstract_to_html_before>
			<controller_action_predispatch>
				<observers>
					<ADM_ExtraContact_Model_Observer>
						<type>model</type>
						<class>ExtraContact/observer</class>
						<method>hookToControllerActionPreDispatch</method>
					</ADM_ExtraContact_Model_Observer>
				</observers>
			</controller_action_predispatch>
		</events>
	</frontend>
	<global>
		<models>
			<ExtraContact>
				<class>ADM_ExtraContact_Model</class>
			</ExtraContact>
		</models>		
		<blocks>
			<ExtraContact>
				<class>ADM_ExtraContact_Block</class>
			</ExtraContact>
		</blocks>
		<helpers>
			<ExtraContact>
				<class>ADM_ExtraContact_Helper</class>
			</ExtraContact>		
		</helpers>
		<events>
			<controller_action_predispatch_routeur_frontend_index_post>
				<observers>
					<ADM_ExtraContact_Model_Observer>
						<class>ExtraContact/Observer</class>
						<method>checkCaptcha</method>
					</ADM_ExtraContact_Model_Observer>
				</observers>
			</controller_action_predispatch_routeur_frontend_index_post>			
		</events>		
		<template>
			<email>
				<ExtraContact_email_template translate="label" module="contacts">
					<label>ExtraContact Form</label>
					<file>extracontact_form.html</file>
					<type>html</type>
				</ExtraContact_email_template>
				<ExtraContact_email_acknowledgment_template translate="label" module="contacts">
					<label>ExtraContact Acknowledgment</label>
					<file>extracontact_acknowledgment.html</file>
					<type>html</type>
				</ExtraContact_email_acknowledgment_template>
			</email>
		</template>
	</global>
	<default>
		<contacts>
			<ExtraContact>
				<config><![CDATA[[{"subject":"Service gestion des commandes","destination":"walkev13@gmail.com","content":"Bonjour, j'ai une demande relative à ma commande."},{"subject":"Signalez un problème","destination":"walkev13@gmail.com","content":"Bonjour, j'ai un problème lorsque...."},{"subject":"Demande d'information"}]]]></config>
			</ExtraContact>
		</contacts>
		<captcha>
			<frontend>
				<areas>
					<ExtraContact_form>
						<label>ExtraContact Form</label>
					</ExtraContact_form>
				</areas>
			</frontend>
		</captcha>
		<customer>
			<captcha>
				<always_for>
					<ExtraContact_form>1</ExtraContact_form>
				</always_for>
			</captcha>
		</customer>		
	</default>
</config>